[Desktop Entry]
Type=Application
Version=1.0
Name=README
Exec=/usr/bin/l3afpad /etc/bliss/readme.txt
Icon=/etc/bliss/text-x-generic.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
